/* You can add global styles to this file, and also import other style files */
$main: #df1c1c;
$family: 'Poppins', sans-serif;
$font-size: 16px;
$text: #333333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $family;
    font-size: $font-size;
    color: $text;
}